<!--
  Generated template for the ListDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="my-colour">
    <ion-title>Place details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page-list-detail">
<ion-card>
        <ion-card-header>
            <strong>{{place.Name}}</strong>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Address1: </strong> {{place.Address1}}</p>
          <p><strong>Address2: </strong> {{place.Address2}}</p>
          <p><strong>Suburb: </strong> {{place.Suburb}}</p>
          <p><strong>State: </strong> {{place.State}}</p>
          <p><strong>Post Code: </strong> {{place.Pin}}</p>
          <p><strong>Contact: </strong> {{place.Contact}}</p>
          <p><strong>URL: </strong> {{place.URL}}</p>
          <p><strong>Service Hours: </strong></p>
          <p><strong>Monday: </strong> {{place.Days.Monday}}</p>
          <p><strong>Tuesday: </strong> {{place.Days.Tuesday}}</p>
          <p><strong>Wednesday: </strong> {{place.Days.Wednesday}}</p>
          <p><strong>Thursday: </strong> {{place.Days.Thursday}}</p>
          <p><strong>Friday: </strong> {{place.Days.Friday}}</p>
          <p><strong>Saturday: </strong> {{place.Days.Saturday}}</p>
          <p><strong>Sunday: </strong> {{place.Days.Sunday}}</p>
          <hr>
          <button ion-button block color="secondary" *ngIf="showFavButton" (click)="addFavour(place._id.$oid, place)"> Add to Favourites</button>
          <button ion-button block color="danger" *ngIf="showDelButton" (click)="delFavour(place._id.$oid)"> Remove from Favourites</button>
        </ion-card-content>
    </ion-card>
</ion-content>
